body,
html {
	background-color: #000000;
    margin: 0;
    padding: 0;
	width:100%;
    height: 100%;
}
aside,
section {
    box-sizing: border-box;
    float: left;
    min-height: 100%;
}

section {
    background-color: #000000;
   width:80%;
}

a{
		text-decoration-line: none;
		color: #55C1FF;
		font-size: 2vw;
		
}

H1{
	display:none;
}

hr{
	  border: 1px dotted;
	  color: #828282;
	  width: 10%;
}

h6{
  font-family :  "Courier New";
  font-style: italic;
  font-weight: normal;
  line-height : 2.5vw;
  font-size: 2vw;
  color: #828282;
  text-align: center;
  margin-block-start: 0.1em;
  margin-block-end: 1em;
}

h7{
  font-family :  "Courier New";
  font-style: italic;
  font-weight: normal;
  line-height : 1.3vw;
  font-size: 0.9vw;
  color: #828282;
  text-align: left;
  margin-block-start: 0.1em;
  margin-block-end: 1em;
}

#main-text {
  font-family :  "Courier New";
  line-height : 2vw;
  margin-top : 5%;
  margin-bottom : 5%;
  margin-left : 5%;
  margin-right : 5%;
  font-size: 1.2vw;
  color: #828282;
  text-align: left;
  }
  
  #main-textaside {
  font-family :  "Courier New";
  line-height : 2vw;
  margin-top : 50px;
  margin-bottom : 50px;
  margin-left : 1%;
  margin-right : 1%;
  font-size: 1.2vw;
  color: #828282;
  text-align: left;
  }
  
  #profil {
  margin-left:auto;
  margin-right:auto;	  
  width: 30%;
    max-width:300px;
  margin-top: 1vw;
  text-align: center;
  }
  
  
  #tableA { 
  border-collapse: collapse;
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  }
  
  #columnA { 
  font-weight:normal;
  width: 28%;
  padding :20px;
  font-family :  "Courier New";
  line-height : 2rem;
  font-size: 1.0rem;
  color: #828282;
  text-align: left;
  }
  
    #tableC { 
  border-collapse: collapse;
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  }
  
  #columnC { 
  font-weight:normal;
  width: 80%;
  padding :5%;
  font-family :  "Courier New";
  line-height : 2vw;
  font-size: 1.5vw;
  color: #828282;
  text-align: left;
  }
  
.cont {
		color: #828282;
}
.cont:hover {
	   color: #55C1FF;
    }

  .menu{
	  margin-top : 15%;
  }
  
 .menuaside{

}
    .nav-item {	
	
	margin-bottom : 30%;
	list-style:none;
	text-align: center;
	}
	  .nav-item:hover {
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  


    .nav-link {
 font-family :  "Courier New";
 font-weight: bold;
 font-size: 1.5vw;
  text-decoration-line: none;
  color: #828282;
  }
  
  	  .nav-link:hover {
	   color: #55C1FF;
    }
  
  .contact{
	font-family :  "Courier New";
	 margin : 1vw;
    text-align: center;
	font-size: 2vw;
    color: #828282;
    word-spacing: 1px;
  }
  .contact:hover {
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
  #avatar {
    display: block;
	 margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
    transform: translateZ(0); // fixed the zoom in Safari
    -webkit-transition: border-color 0.35s ease-in-out;
    -moz-transition: border-color 0.35s ease-in-out;
    transition: border-color 0.35s ease-in-out;
  }
  avatar:hover > a {
    border-color: #fff;
  }
  
    #tete {
    display: block;
	 margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0%;
    overflow: hidden;
  }
  
    #tete20 {
    display: block;
	 margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius: 0%;
    overflow: hidden;
  }


img {
    width: 100%;
    max-width: 700px;   /* ✅ largeur max */
    height: auto;       /* ✅ garde les proportions, évite le 110% qui déforme */
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    transition: transform 0.5s;
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;     /* ✅ centre l'image si le conteneur est plus large */
}

img:hover {
    -ms-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    filter: grayscale(0%);
}

.short-text { 
    display: none; 
}



@media only screen and (max-width:800px) {
		#main-text {
			line-height : 3vw;
			font-size: 3vw;
		}
	
		a{
		font-size: 3vw;
		}
	
	   .nav-link {
		font-size: 3vw;
		}
	   
		.short-text { 
			display: inline-block; 
		}
		
		.full-text { 
		display: none; 
		}
		
		#profil {
  width: 500px;
  }
}





.vidcenter {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:50px;
	font-size: 3vw;
}




@media only screen and (min-width:2000px) {

	#profil { 
    max-width: 1500px;
  }

}


@media screen and (max-width: 2000px) and (min-width: 1500px)
{
	#profil {  
  max-width:  1000px;
  }
}
