/* 
 * ie7.js makes selectors work on IE
 * https://code.google.com/p/ie7-js/
 */

body {
 margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
  margin: 1vw 0 0 0;
  font-size: 2.5vw;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#timeline {
  list-style: none;
  margin: 1vw 1vw 1vw 1vw;
  padding-left: 0vw;
  border-left: 3px solid #FFFFFF;
}
#timeline li {
  margin: 3vw 1vw 1vw 2vw;
  position: relative;
  min-height:300px;

}
#timeline p {
  margin: 1vw 1vw 1vw 1vw;
}


.date {
  font-family :  "Courier New";
  margin-top: -1vw;
  top: 50%;
  left: -9vw;
  font-size: 2vw;
  line-height: 2vw;
  position: absolute;
}

.content {
  font-family :  "Courier New";
  max-height: 3500px;
  padding: 50px 20px 20px 20px;
  margin: 50px 20px 20px 20px;
  border-color: transparent;
  border-width: 0px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.content .container {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.content video {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;  }


label {
  font-family :  "Courier New";
  font-size: 1.5vw;
  position: absolute;
  z-index: 100;
  top: 1vw;
  /*-webkit-transition: -webkit-transform 0.2s linear;*/
}

label:hover {
	cursor: pointer;
}

.radio {
  display: none;
}


.radio:checked + .relative label {
  -webkit-transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #55C1FF;
}
.radio:checked ~ .content {
   max-height: 100%;
  border-color: #FFFFFF;
  margin-right: 2vw;
  -webkit-transform: translateX(10px);
  -webkit-transition: max-height 0.4s linear, border-color 0.5s linear, -webkit-transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 100%;
  color: #FFFFFF;
  -webkit-transition: color 0.3s linear 0.3s;
}

.radio:checked ~ .content .container {
  max-height: 100%;
  color: #FFFFFF;
  -webkit-transition: color 0.3s linear 0.3s;
}

.radio:checked ~ .content video {
 max-height: 100%;
filter:grayscale(100%);
}

.radio:checked ~ .content video:hover {
 filter:grayscale(0%);
}


/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  /*  display:none !important;*/
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background:  #FFFFFF;
}

@media only screen and (max-width:800px) {
	label {
  
  font-size: 3vw;

}


.date{
	  font-size: 3vw;
}
	
}